// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

[v-cloak] {
    display: none;
  }
body{
    height: 100vh;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
#app{
    height: 100%;
}